:host{
    position: fixed;
    z-index: 1000000;
}

/* .card-button{
    background-color: #a9a9a9;
    color: #ffffff;
} */
.card-button{

}
.card-button:hover:not([disabled]){
    cursor: pointer;
    background-color: #455a63;
    border: 1px solid white;
    border-radius: 3px; 
    color: white;
}

.modal {
    position: fixed;
    top: 45%;
    left: 41%;
    height: 130px;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    width: 310px;
}

.modal-dialog{
    
}
.modal-content{
    border-radius: 0px;
    background-color: rgba(69,90,99,.85);
    color: white;
    height: 130px;
    display: flex;
    justify-content: center;
}


.card-button:disabled{
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    cursor: default;
}


.modal-title{
    font-family: 'roboto';
    font-size: 22px;
}
.modal-header{
    border-bottom: none;
    display: flex;
    padding-bottom: 0px;
    height: 49px
}
.modal-header div:nth-child(1){

}
.modal-header div:nth-child(2){
    align-self: flex-start;
}
.modal-footer{
    border-top: none;
}
.modal-body{
    flex: 0 0 auto;
    font-family: 'roboto';
    font-size: 18px;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    white-space: normal;
}

.close-container{
    font-size: 45px;
    font-weight: 400;
    position: absolute;
    right: 2%;
    top: -7%;
}

.close-container:hover{
    color: rgb(255, 89, 130);
}
.modal-footer-buttons{
    display: flex;
    justify-content: center;

}

.button-space{
    width: 25px;
}


.message{
    font-size: 24px;
}

.modal-body div{
    display: flex;
}


.fade2 {
    opacity: 0;
    transition: all .2s linear;
    /* display: none !important; */
    
}

.fade2.show {
    display: block !important;
    opacity: 1;
    transform: scale(1);
}