<button #openModal type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalNotificationWindow"
    style="display: none" data-backdrop="false">Open Modal
</button>
<div #modalBox id="myModalNotificationWindow" class="modal fade2" role="dialog" data-keyboard="true" tabindex='-1'>
    <div class="modal-dialog m-0">
        <div class="modal-content">
            <div class="modal-header pt-3" style="display: none;">
                    <div class="modal-title">{{heading}}</div>
                    <div>
                        <button type="button" class="close-container remove-button-style" data-dismiss="modal">&times;</button>
                        <button #cancelButton (click)="onCancel($event)" hidden="true" data-dismiss="modal"></button>
                    </div>
                </div>
            <div class="modal-body pl-4">

                <ng-container *ngTemplateOutlet="bodyTmpl">
                </ng-container>

                <div>
                    <img src="./assets/success.png" style="height: 60px" />
                </div>
                <div class="ml-4" style="align-self: center;">
                    <div class="message">{{body}}</div>
                    <div></div>
                </div>
            </div>
            <!-- <div class="modal-footer-buttons">
                <button #deleteButton class="card-button remove-button-style" type="button" (click)="onDelete($event)" [disabled]="isCRUDing">
                    {{buttonName}}
                    <ng-container *ngIf="isCRUDing">
                        <spinner class="ml-1 spinner" [size]="20" [show]="isCRUDing" [color]="spinnerColor"></spinner>
                    </ng-container>
                </button>
                <div class="button-space"></div>
                <button type="button" class="card-button remove-button-style" [disabled]="isCRUDing" data-dismiss="modal">Cancel</button>
            </div> -->
        </div>

    </div>
</div>